
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Rock+Salt&display=swap');
/*{
    border: 2px solid blue;
  }
*/
body{
    background-color: #F8F9F9;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
    
}
.logo{
    width: 80px;
}

#logo_link  { padding-top: 100px;
}
header{
    background-color: #F8F9F9;
}

nav{
    background-color: #F8F9F9;
    padding: 20px;
}
nav a{
    text-align: center;
    color: #03363D;
    padding: 35px;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover{
    background-color:#174D4D ;
    color:#FFFFFF}

#hero-img{
width: 100%;
}

#hero-msg h1{
    text-align: center;
} 

#hero-msg h4{
    text-align: center;

}
.button-box{
    text-align: center;

}
main section{
    text-align: center;
    
}

.rivers-card, .camping-card, .rapids-card   {
    margin: 200px 0;
}

.card-img{
   border: 10px solid #174D4D ;
}

main section img {
    box-sizing: border-box;
}
.icon{
width: 80px;
padding-top: 10px;
}

#background {
    height: 725px;
    background-color: #FFFFFF;
}
.button-box{
  padding: 20px;  
}

.book{
    color: #FFFFFF;
    background-color: #174D4D; 
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
} 

.book:hover{
background-color: #03363D;
}



.msg{
background-color:#6f7364;
color: #03363D;
height: 200;
padding: 35px;
line-height: 1.5em;
}

.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
.join{
    color: #FFFFFF;
    background-color: #174D4D; 
    padding: 15px 30px; 
    text-decoration: none; 
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover{
    background-color: #03363D;
}



footer{
   background-color:#6f7364;
color: #FFFFFF;
padding: 25px 50px;
margin-top: 200px;
}

footer a{
    text-decoration: none;
    
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}   

footer .social img{
    padding-top: 15px;
}
.copy{
    color: #03363D;
} 